html, body, #root {
  height: 100%;
}

.container {
  background: lightblue;
  overflow: auto;
}

.stickyheader {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid black;
  text-align: center;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 200px;
  height: 120px;
  margin: 50px;
}

.lightgray {
  background-color: #999;
}

.gray {
  background-color: #777;
}

.darkgray {
  background-color: #555;
}

.navtabs {
  height: 50px;
  position: sticky;
  bottom: 0;
  left: 0;
  list-style-type: none;
  display: flex;
  background-color: white;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  margin: 0;
  box-sizing: border-box;
}

.fixedHeightPercent {
  height: calc(100% - 100px);
}

.fixedHeightVh {
  height: calc(100vh - 100px);
}
